@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	pointer-events: all;
	background: #d9d9d9;
	border-radius: 10px;
}

@layer base {
	.bg-gradient {
		@apply bg-gradient-to-r from-primary to-secondary;
	}
	.bg-gradient-text {
		@apply bg-gradient-to-r from-primary to-secondary dark:to-white;
	}
	.text-gradient {
		@apply bg-gradient-text bg-clip-text text-transparent;
	}
	.header {
		@apply text-[32px] font-bold sm:text-5xl;
	}
	.title {
		@apply font-semibold sm:text-xl;
	}
	.body {
		@apply text-sm sm:text-base;
	}
}

@layer components {
	.button-gradient {
		@apply bg-gradient rounded-full bg-red-100 px-5 py-3 text-sm font-medium text-white sm:text-base;
	}
}

@layer utilities {
	.radial {
		background: linear-gradient(90deg, #c5dbff 4.77%, rgba(255, 255, 255, 0) 100%);
		filter: blur(50px);
		transform: rotate(-7.57deg);
		z-index: -10;
		width: 514px;
		height: 514px;
		position: fixed;
		left: -246.63px;
		top: 115.12px;
		border-radius: 427px;
	}

	@media (prefers-color-scheme: dark) {
		.dark .radial {
			background: linear-gradient(90deg, #5794f5 4.77%, #000000 100%);
		}
	}
}
